body {
  height: 100vh;
  background-color: white;
}

.noLine {
  text-decoration: none;
}

.graphite {
  background-color: #292929;
  color: white;
}

.editor {
  background-color: #292929;
}

.white {
  background-color: white;
}

.full-white {
  background-color: white;
  color: #292929;
  width: 30%;
  display: inline-block;
  margin: 5px;
  transition-duration: 0.3s;
  height: 100px;
  white-space: nowrap;
  overflow: hidden;
}

.full-white:hover {
  background-color: rgb(209, 209, 209);
  transition-duration: 0.3s;
}

.navtext:hover, .navtext:active {
  color: white !important;
}

.navtext {
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex-container {
  width: 100%;
  float: right;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

.fab {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  bottom: 10px;
  right: 10px;
  position: absolute;
}

#main {
  margin-top: 5%;
}

#newDocFab:hover {
  background-color: rgb(209, 168, 58);
}

#newDocFab {
  background-color: rgb(235, 189, 66);
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.fa-large {
  font-size: 40px;
}
