body {
  height: 100vh;
}

.noLine {
  text-decoration: none;
}

.graphite {
  background-color: #292929;
  color: white;
}

.editor {
  background-color: #292929;
}

.white {
  background-color: white;
}

.full-white {
  background-color: white;
  color: #292929;
}

.navtext:hover, .navtext:active {
  color: white !important;
}

.navtext {
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex-container {
  width: 100%;
  float: right;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

#editor {
  min-height: 100vh;
}

#editorContainer {
  margin-left: 2%;
  margin-right: 2%;
}
