body, html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

#loginBtn {
  color: rgb(235, 189, 66);
}

#logoimg {
  width: auto;
  height: 60px;
  top: 0px;
}

#header {
  height: 100%;
  background-color: white;
  color: #292929;
  text-align: center;
  padding: 5%;
  padding-bottom: 0px;
  background-image: url(/images/joanna-kosinska-129039.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header h1 {
  font-size: 6vw;
  margin-bottom: 2%;
  font-weight: 400;
}

#header a {
  border-color: #292929;
  border-width: 0.3vw;
  color: #292929;
  width: 10vw;
  height: 5vw;
  font-weight: bold;
  transition-duration: 1s;
  margin: 2%;
  background-color: rgba(18, 176, 115, 0);
  font-size: 1vw;
}

#learnMore {
  border-color: #424242!important;
  color: #424242!important;
}

#learnMore:hover {
  background-color: #424242!important;
  color: rgb(235, 189, 66)!important;
  transition-duration: 1s;
}

main {
  min-height: 90vh;
}

#header a:hover {
  background-color: #292929;
  color: rgb(235, 189, 66);
  transition-duration: 1s;
}

#header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sectiontwo {
  height: 70%;
  display: table;
}

.smallContainer {
  width: 100%;
  padding: 10%;
}

#vcenter {
  display: table-cell;
  vertical-align: middle;
}

.vcenter {
  display: table-cell;
  vertical-align: middle;
}

#sectiontwo h1 {
  text-align: center;
  color: white;
  font-size: 2.7vw;
  font-weight: 700;
}

#sectiontwo p {
  text-align: left;
  color: white;
  font-size: 2vw;
  font-weight: 500;
}

#sectionthree {
  height: 100vh;
  background-color: white;
  color: #292929;
  padding-right: 5%;
}

#sectionthree h1 {
  font-weight: 500;
  text-align: center;
  font-size: 6vh;
}

#sectionthree h2 {
  font-weight: 700;
  font-size: 4vw;
}

#sectionthree .column {
  height: 70vh;
  display: table;
  padding: 2%;
  text-align: left;
}

#sectionthree p {
  font-size: 1.5vw;
  color: #4a4a4a;
  max-width: 30vw;
  margin: none:
}

#sectionthree .columns {
  padding: 5%;
}

#column1 {
  text-align: right!important;
  border-right-color: rgb(235, 189, 66);
  border-right-style: solid;
  border-right-width: 2px;
  width: 50%;
}

#column2 {
  margin-right: 5%;
}

#buitforspeed {
  float: right;
}

#sectionfour {
  background-color: white;
  color: #292929;
  padding: 5%;
}

#sectionfour .container {
  display: table;
}

#sectionfour h1 {
  font-weight: 500;
  text-align: center;
  font-size: 3vw;
}

#sectionfour h2 {
  font-weight: 700;
  text-align: center;
  font-size: 2vw;
  display: inline;
}

#sectionfour p {
  font-size: 1.5vw;
  color: #4a4a4a;
}

#sectionfour .dollar {
  display: block!important;
  margin-left: none;
  margin-right: auto;
  width: 30%;
  height: 400px;
}

#sectionfour h3 {
  color: rgb(235, 189, 66);
  font-size: 15vw;
  text-align: center;
}

#sectionfour a {
  border-color: rgb(235, 189, 66);
  border-width: 0.3vw;
  color: rgb(235, 189, 66);
  width: 16vw;
  height: 4vw;
  font-size: 1.8vw;
  font-weight: bold;
  display: block;
  transition-duration: 1s;
  margin-left: auto;
  margin-right: auto;
}

#sectionfour a:hover {
  background-color: rgb(235, 189, 66);
  color: white;
  transition-duration: 1s;
}

footer p {
  font-size: 1vw;
}

.noLine {
  text-decoration: none;
}

.graphite {
  background-color: #292929;
  color: white;
}

.editor {
  background-color: #292929;
}

.white {
  background-color: white;
}

.full-white {
  background-color: white;
  color: #292929;
}

.navtext:hover, .navtext:active {
  color: white !important;
}

.navtext {
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex-container {
  width: 100%;
  float: right;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

#editor {
  /*min-height: 100vh;
  width: 100%;


  padding-left: 2%;
  padding-right: 2%;*/
  word-wrap: break-word;
  font-size: 12pt;
  width: 8.5in;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#editorContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#doctitle:focus {
  outline: none;
}

#doctitle {
  height: 60px;
  white-space: nowrap;
  /* Don't forget this one */
}

#doccontainer {
  padding-left: 5%;
  padding-right: 5%;
  min-height: 70vh;
}

#deleteDoc {
  display: inline;
  width: 10%;
  float: right;
  margin-top: -10px;
  color: #e74c3c;
  cursor: pointer;
}

#saving {
  display: inline;
  margin-top: -20px;
  color: rgb(235, 189, 66);
  font-weight: bold;
  margin-left: 5px;
}

#printDoc {
  margin-top: -10px;
  float: right;
  margin-right: 10px;
  color: #292929
}

#share {
  margin-top: -10px;
  float: right;
  margin-right: 10px;
  color: #292929
}

#printDoc:hover {
  color: #212121;
}

#deleteDoc:hover {
  color: #c13e31;
}

#lasteditedcontainer, #lastedited {
  font-weight: 400!important;
  margin-bottom: none;
}

#lasteditedcontainer {
  margin-top: -20px;
  margin-bottom: 5px;
  width: 80%;
  display: inline;
}

.ql-toolbar {
  background-color: white!important;
  border-radius: 5px;
}

.stick {
  width: 100%;
  z-index: 999;
  top: 0;
  position: fixed;
  width: 100%;
}

.beta {
  font-weight: bold;
  color: rgb(235, 189, 66);
}

.sk-folding-cube {
  margin: 20px auto;
  margin-top: 10%;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(235, 189, 66);
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

#Why {
  width: 100%;
  text-align: center;
}

#aboutText {
  font-size: 1.5vw;
  height: 80vh;
  background-color: white;
  color: #343434;
}

#aboutText h1 {
  margin-top: 3%;
  font-weight: bold;
  text-align: center;
  font-size: 3vw
}

#contact h1 {
  font-size: 4vw;
  margin-bottom: 0.8vw;
}

#contact {
  background-color: white;
  padding: 5%;
}

#contact label {
  font-size: 0.8vw;
  float: right;
}

@media (min-width: 1366px) {
  footer p {
    font-size: 0.6vw;
  }
}
