.navselector, header nav, footer, .nav, #titleContainer, .noLine, .ql-toolbar, #logoimg {
  display: none;
}

html, body {
  height: 100%;
  margin: 0px;
  overflow: visible!important;
}

.ql-container, .ql-editor {
  border: none!important;
  height: 100%;
}

@page {
  size: auto;
  /* auto is the initial value */
  margin: 0mm;
  /* this affects the margin in the printer settings */
}

#editor {
  margin-top: 5mm;
  margin-left: 15mm;
  margin-right: 15mm;
  border: initial;
  border-radius: initial;
  width: initial;
  min-height: initial;
  box-shadow: initial;
  background: initial;
  page-break-after: always;
}
