<!doctype html>
<html lang="en" class="graphite">

<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css " />
  <link rel="stylesheet" href="css/bulma.min.css" />
  <link rel="stylesheet" href="css/app.min.css" />

  <title>Graphite Writer | Documents</title>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-105872662-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body>
  <div class="graphite">
    <div class="container">
      <br />
      <nav class="navbar is-transparent graphite">
        <div class="navbar-brand ">
          <img onclick="window.location.href = '/index'" id="logoimg" src="images/logo.png" alt="">
          <a class="navbar-item noLine title  is-3 graphite navtext" href="/">
            Graphite Writer
            </a>
        </div>
        <div class="navbar-menu graphite">
          <div class="navbar-end graphite">
            <a class="navbar-item noLine" href="/"><h1 class="title is-4 navtext graphite">Home</h1></a>
            <a class="navbar-item noLine" href="app"><h1 class="title is-4 navtext graphite">App</h1></a>
            <a class="navbar-item noLine" href="about"><h1 class="title is-4 navtext graphite">About</h1></a>
            <a id="loginContainer" class="navbar-item noLine" href="#"><h1 id="loginBtn" class="title is-4 navtext graphite">Login</h1></a>
          </div>

        </div>
      </nav>
    </div>
    <br />
  </div>
  <div id="app">
    <div id="main" class="container">
      <div class="field">
        <label class="label">Search</label>
        <div class="control">
          <input @keyup="search" v-model="docSearch" autocomplete="off" class="input" id="search" type="search" placeholder="EX. My Great Report">
        </div>
      </div>
      <a id="newDocFab" @click='openNewDoc' class="noLine button large">Create A New Document</a>
      <div id="docContainer">

        <div v-if="loaded" id="loader" class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
        <a id="doc" v-if="show(doc.title)" v-for="(doc, key) in docs" :alt="getAlt(doc.title)" :href="getUrl(doc)" class="box full-white noLine"><h1 class="title is-4">{{doc.title}}</h1><p class="date">Last Edited: {{doc.date}}</p></a>

      </div>


    </div>



    <div v-bind:class="{ 'is-active': modalDisplay }" class="modal" id="newDocModal">
      <div @click="closeNewDoc" class="modal-background">

      </div>
      <div class="modal-content">
        <div class="box">
          <h1 class="title is-4">New Document Name</h1>
          <form @submit.prevent="createNewDoc">

            <div class="field">
              <div class="control">
                <input class="input" id="newDocName" type="text" v-model="newDocName" placeholder="EX. My Great Report">
              </div>
            </div>
            <button type="submit" name="submit" class="button noLine navtext graphite" id="newDocBtn">Create</button>
          </form>

        </div>
      </div>
    </div>
    <br><br>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          Graphite Writer is a passion project by Ronan.F with help from Sasha.S. If you have any questions or suggestions, please contact us at <a href="mailto:support@graphitewriter.com">support@graphitewriter.com</a><br> Developed by <b>Stomp Rocket</b>          &copy; 2017 Stomp Rocket all rights reserved. <br>Home page photo by Joanna Kosinska on Unsplash.
          <br><br> Graphite Writer is proudly sponsered by the folowing: <b>Ronan, Rohan.P</b> <br>Would you like yor name up here? please contact us at <a href="mailto:support@graphitewriter.com">support@graphitewriter.com</a>
        </p>

      </div>
    </div>
  </footer>
  <script>
    document.getElementById('doc').style.display = 'none';
  </script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/global/jquery.pjax.min.js" charset="utf-8"></script>
  <link rel='stylesheet' href='/js/global/nprogress.min.css' />
  <script src='/js/global/nprogress.min.js'></script>
  <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
  <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAkp9Xj0ckAT1l7yLPp1CU5812g_Y8ebYI",
      authDomain: "graphite-88e41.firebaseapp.com",
      databaseURL: "https://graphite-88e41.firebaseio.com",
      projectId: "graphite-88e41",
      storageBucket: "graphite-88e41.appspot.com",
      messagingSenderId: "158148550453"
    };
    var firebaseApp = firebase.initializeApp(config);
    var db = firebaseApp.database()
    var provider = new firebase.auth.GoogleAuthProvider();
    $(document).pjax('a', 'body')
    $(document).on('pjax:start', function() {
      NProgress.start();
    });
    $(document).on('pjax:end', function() {
      NProgress.done();
    });
  </script>
  <script src="/js/global/login.min.js" charset="utf-8"></script>
  <script src="js/app/app.min.js"></script>
  <script type="text/javascript">
    document.getElementById('doc').style.display = 'inline-block'
  </script>
</body>

</html>
