body {
  height: 100vh;
}
.noLine {
  text-decoration: none;
}

.graphite {
  background-color: #292929;
  color: white;
}

.editor {
  background-color: #292929;
}

.white {
  background-color: white;
}
<<<<<<< HEAD
.navtext:hover, .navtext:active{
  color: white !important;
=======

.navtext {
  font-weight: bold;
>>>>>>> 411e636f3049c5c8cc70d2e847e00af9927c4e80
}
