  body {
    height: 100vh;
  }

  .noLine {
    text-decoration: none;
  }

  .graphite {
    background-color: #292929;
    color: white;
  }

  .editor {
    background-color: #292929;
  }

  .white {
    background-color: white;
  }

  .navtext:hover, .navtext:active {
    color: white !important;
  }

  .navtext {
    font-weight: bold;
  }

  #editor {
    min-height: 100vh;
  }

  #editorContainer {
    margin-left: 2%;
    margin-right: 2%;
  }
