@import "vars";

.class {
  padding: 2% 4%;
  max-width: 100em;
  .class__name {
    font-weight: 700;
    font-size: 5rem;
    display: block;
    width: 100%;
    border: none;
    @include rounded;
    padding: 0.5% 1%;
    margin: 0.5% 0;
    &:hover, &:focus {
      background: $footer;
      outline: none;
    }
  }
  .class__newNote {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $yellow;
    padding: 1% 2%;
    font-size: 1rem;
    font-weight: 700;
    @include rounded;
    border: none;
    @include transition;
    @include shadow;
    &:hover {
      box-shadow: none;
      cursor: pointer;
      background: $yellow--hover;

    }
    &:focus {
      outline: none;
    }
  }
  .class__noNotes {
    width: 100%;
    background: $footer;
    @include rounded;
    margin-top: 2%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $grey;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .class__documentContainer {
    @include rounded;
    width: 100%;
    background: $footer;
    margin-top: 2%;
    min-height: 40vh;
    padding: 1%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 6vw;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    .class__document {
      background: white;
      color: $grey;
      text-decoration: none;
      height: 6vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @include shadow;
      @include rounded;
      @include transition;
      padding: 5%;
      h1 {
        font-size: 1.5rem;
        font-weight: 700;
        span {
          font-weight: 200;
          font-size: 1.2rem;
        }
      }
      p {
        font-weight: 200;
        margin-top: 1%;
      }
      &:hover {
        cursor: pointer;
        background: $footer--lighter;
        box-shadow: none;
      }
    }
  }
}
@media screen and (max-width: 414px) {
  .class {
    .class__name {
      font-size: 2rem;
    }
    .class__newNote {
      padding: 2%;
    }
    .class__documentContainer {
      grid-template-columns: 1fr;

      .class__document {

        h1 {
          font-size:  1.2rem;

        }
      }
    }
  }

}