@import "vars";

.document {
  background: $grey;
  padding: 2%;
  .ql-editor::before {
    padding-left: 2%;
  }
}

.document__delete {
  background-color: $red;
  color: white;
  &:hover {
    background-color: $red--hover;
  }
}

.document__nav {
  z-index: 50;
  width: 100%;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 9vh;
  align-items: center;
  padding: 0 2vw;
  background: $grey;
  .document__nav__logo {
    height: 60%;
    &:hover {
      cursor: pointer;
    }
    margin-right: 1%;
  }
  .document__title {
    color: white;
    margin-left: 0.5%;
    display: inline;
    width: 60vw;
    input {
      width: 100%;
      background: none;
      color: white;
      font-size: 1.5rem;
      font-weight: 700;
      border: $grey solid 2px;
      padding: 1%;
      @include rounded;
      &:hover {
        border: $yellow solid 2px;
      }
      &:focus {
        outline: none;
        border: $yellow solid 2px;
      }
    }
    p {
      font-size: 0.8rem;
      font-weight: 200;
    }
  }

}

#editor {
  background: white;
  max-width: 70rem;
  margin: 0 auto;
  @include rounded;
  @include shadow;
  padding: 2%;
  display: block;

}