@import "vars";

.document {
  background: $grey;
  padding: 2%;
  .ql-editor::before {
    padding-left: 2%;
  }
}

.document__nav {
  z-index: 999999;
  width: 100%;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 9vh;
  align-items: center;
  padding: 0 1%;
  background: $grey;
  .document__nav__logo {
    height: 60%;
    &:hover {
      cursor: pointer;
    }
    margin-right: 1%;
  }
  .document__title {
    color: white;
    margin-left: 0.5%;
    width: 20vw;
    h1 {
      font-size: 1.5rem;
      font-weight: 700;
    }
    p {
      font-size: 0.8rem;
      font-weight: 200;
    }
  }

}

#editor {
  background: white;
  max-width: 70rem;
  margin: 0 auto;
  @include rounded;
  @include shadow;
  padding: 2%;
  display: block;
  z-index: 1;

}