@import "vars";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

html, body, #app, .page {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  color: $grey;

}

.page {
  min-height: 82vh;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.app__placeHolder {
  background: $grey;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.app__user {
  @include rounded;
  background-color: white;
  display: block;
  position: absolute;
  right: 1%;
  top: 9vh;
  @include shadow--large;
  width: 20vw;
  //  height: 40vh;
  padding: 2%;
  z-index: 9999999;
  .user__card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2%;
    align-items: center;

    img {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-end: 2;
      grid-column-start: 1;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      align-self: center;
    }
    h1 {
      font-weight: 700;
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
    div {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      align-self: center;
      grid-row-start: 1;
      grid-row-end: 3;
    }

  }
  button {
    width: 100%;
    display: block;
    padding: 4% 2%;
    font-size: 1rem;
    background: $yellow;
    border: none;
    @include rounded;
    font-weight: 700;
    @include shadow;
    @include transition;
    margin-top: 4%;
    &:hover {
      background: $yellow--hover;
      //box-shadow: none;
    }
    &:focus {
      outline: none;
    }
  }
}

a {
  color: $yellow;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9vh auto 10vh;

}

.app__nav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: $grey;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  .nav__logo {
    height: 50%;
    margin-bottom: 15px;
    &:hover {
      cursor: pointer;
    }
  }
  .nav__search {
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 30vw;
    @include rounded;
    border: none;
    padding: 1%;
    background: $grey--light;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    @include transition;
    &:focus {
      background: $grey--lighter;
      color: $grey;
      outline: none;
    }
    &:hover {
      background: $grey--lighter;
    }
  }

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.app__footer {
  background-color: $footer;
  text-align: center;
  padding: 1%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.nav__new {
  margin-left: auto;
  height: 50%;
  width: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $yellow;
  padding: 0 1%;
  font-size: 1rem;
  font-weight: 700;
  @include rounded;
  border: none;
  @include transition;
  @include shadow;
  &:hover {
    box-shadow: none;
    cursor: pointer;
    background: $yellow--hover;

  }
  &:focus {
    outline: none;
  }
}

.nav__user {

  margin: 0;
  display: block;
  height: 4.5vh;
  width: 4.5vh;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: url('../user.jpg') no-repeat center center white;
  background-size: 4.5vh 4.5vh;
  border: none;
  // @include transition;
  &:hover {
    //@include shadow;
    outline: none;
    @include shadow;

  }
  &:focus {
    outline: none;
  }

}

.nav__userContainer {
  padding: 0;
  margin-left: 2%;
  border-radius: 100px;
  background: none;
  width: 5.5vh;
  height: 5.5vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav__userContainer.active {
  background: $footer;

}
@media screen and (max-width: 414px) {
  #app {grid-template-rows: 20vh auto 50vh;}
  .app__nav {
    flex-wrap: wrap;
    .nav__logo {
      height: 4vh;
      margin: 1% auto;
    }
    .nav__search {
      width: 80vw;
      height: 7vh;
      margin: 1% 2%;
    }
  }

}