@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,body {
        @apply bg-back-gray;
    }
}

@layer components {
    .gw-btn {
        @apply px-8 py-4 text-center font-bold text-white transition-all duration-150 rounded-md active:bg-gray-50 active:text-gray-50 focus:outline-none ease-out;
        @apply bg-primary hover:bg-primary-hover;
    }
    .gw-search {
        @apply backdrop-filter filter backdrop-blur-sm focus:drop-shadow-md drop-shadow block px-4 py-2 rounded-md bg-secondary hover:bg-gray-empty active:bg-gray-empty focus:bg-gray-empty transition-all duration-150 text-white outline-none ease-out firefox:bg-opacity-100 bg-opacity-95;
    }
    .gw-heading-lg {
        @apply font-bold text-3xl;
    }
    .nav-spacer {
        height: 5.5em;
    }

}

.homegrid {
    display: grid;
    grid-template-rows: auto 1fr;
}
.logo-adjust {
    margin-top: -8px
}

