.page.about {
  min-height: 100vh;
  background-color: #fff;
  .sectionHeading {
    font-size: 2rem;
    margin-top: 5%;
    font-weight: 600;
  }
  & .banner-image {
    background-image: url("../assets/about-banner.jpg");
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    height: 50vh;
  }
  & .center-box {
    padding-top: calc(25vh - 3.5em - 100px);
    h1 {
      font-size: 6rem;
      font-weight: bold;
      text-align: center;
    }
    & .button {
      font-size: .9em;
    }
  }
  .blurb {
    font-size: 1.2rem;
    font-weight: 320;
  }
  .stats {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .column {
      text-align: center;
      h3 {
        font-size: 3rem;
        margin-bottom: 0.5%;
        font-weight: 600;
      }
      h4 {
        font-size: 1.2rem;
        margin-top: 0.5%;
        font-weight: 400;
      }
    }
  }
}
