
@import "./vars.scss";
.page.documents {
  .button.full-width {
    display: block;
    width: 100%;
    margin-top: 2%;
  }
  background-color: #fff;
  min-height: 100vh;
  & .fullwidth {
    width: 100%;
    & .input:not(.button) {
      width: auto;
    }
  }

  .fab {
    padding: 1em;
    border-radius: 50%;
    font-size: 1em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    z-index: 1000;
  }

  .folder-float {
    position: fixed;
    bottom: 5em;
    right: 1em;
    width: 9em;
    max-height: calc(100% - 11em);
    min-height: 5em;
    z-index: 1000;
  }

  .collection-rule {
    opacity: .7;
    border-radius: 0;
  }

  .fab-container {
    padding: 1em;
  }

  /* Larger than Desktop HD */
  @media screen and (min-width: 1200px) {
    .folder-float {
      width: calc(calc(100% - 950px) / 2 - 2em);
    }
  }

  
  .full-input {
    width: 100%;
  }
  .document-preview {
    color: #333;
  }
  .document-preview * {
    color: #333;
  }

}
.swal-content__input {
  border: 1px solid #8395a7 !important;
  background: #ffffff !important;
  text-decoration: none !important;
  color: #576574 !important;
  font-size: 0.8rem !important;
}
.swal-content__input:hover {
  border: 1px solid #8395a7 !important;
  background: #ffffff !important;
  text-decoration: none !important;
  color: #576574 !important;
  font-size: 0.8rem !important;
}
.swal-content__input:active {
  border: 1px solid #8395a7 !important;
  background: #ffffff !important;
  text-decoration: none !important;
  color: #576574 !important;
  font-size: 0.8rem !important;
}

.swal-button {
  border: 1px solid $warning !important;
  background: $warning !important;
  padding: 9px 18px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  text-decoration: none !important;
  vertical-align: middle !important;
  color: #ffffff !important !important;
  font-size: 0.8rem !important;
  text-transform: uppercase !important;
}

.swal-button:hover {
  background: $warning-accent;
  color: #ffffff;
}
.swal-button:active {
  border-color: $warning;
  background: $warning-accent;
  color: #ffffff;
}
