
#toolbar {
  background: white;
  border: none;
  color: white !important;

  width: 100%;

  z-index: 9999;
  @include shadow;
  padding: 1rem;

}

.nav.editor {
  justify-content: flex-start;

  width: 100%;
  margin-top: 0;

  z-index: 9999;

}
.topBar {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  @media (max-width: 600px) {
  position: absolute;
  }
}

.docTitle {
  margin-left: 1rem;
margin-right: 1rem;
  width: 30rem;
  .title {
    background: $gray;
    width: 100%;
  }
  @media (max-width: 1440px) {
    width: 20rem;
  }
  @media (max-width: 1024px) {
    width: 10rem;
  }
  @media (max-width: 840px) {
    width: 5rem;
  }
  @media (max-width: 600px) {
    width: 80%;
  }
}
.nav-item.primary {
  color: $primary;
}
.nav-item {
  margin-right: 1rem;
  background: none;
  border: none;
  font-size: 1rem;
  color: $text;
}
.nav-item.ml {
  margin-left: auto;
}
.saved {
  color: $primary;
  margin-right: auto;
}
.saved.error {
  color: $warning;
}
.nav-item.delete {
  color: $warning;
}

.lastEdited {
  @media (max-width: 600px) {
   width: 70%;
  }
}
.editor__app {

  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1600px;
//  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  @media (max-width: 600px) {
  //  margin-top: 5rem;
  }
 //background: red;
}
.editor__document {
  background: white;
  width: 100%;
  min-height: 90vh;
  @include shadow;
  @include rounding;
  padding: 1rem;
}
.share_link {
  width: 100%;
  display: flex;
  margin: 1rem 0;
  p {
    margin-right: 1rem;
  }
  input {
    margin-left: 1rem;
    width: 90%;
  }
}