@import "./vars.scss";
.page.editor {
  min-height: 100vh;
  #editor,
  .ql-editor {
    min-height: 100vh;
  }
  #editor {
    margin-bottom: 5%;
  }
  & .docInfo {
    margin-bottom: 3%;
  }
  & .ql-toolbar,
  & .ql-editor {
    background-color: white !important;
  }

  & #quillEditor {
    border-radius: 10px;
  }

  .share-modal {
    max-height: 80vh;
    margin-top: 10vh;
  }

  .round-profile {
    border-radius: 50%;
    object-fit: cover;
    width: 2em;
    height: 2em;
    -webkit-transition: -webkit-box-shadow 100ms ease-in;
    -moz-transition: -moz-box-shadow 100ms ease-in;
    transition: box-shadow 100ms ease-in;
  }
  .round-profile:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .round-profile.big {
    width: 5em;
    height: 5em;
  }
  .round-profile.big:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .share-multi {
    width: 100%;
  }
  .share-multi * {
    width: 100%;
  }

  .input {
    margin-bottom: .5em;
  }

  .share-row {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .last-edited {
    margin-bottom: 0;
  }
  .share-item {
    margin-top: .5em;
  }

  .ql-toolbar {
    border-top-right: 0.5px solid $gray-accent;
    border-top-right-radius: 3px;
    border-top-left: 0.5px solid $gray-accent;
    border-top-left-radius: 3px;
  }
 
  .ql-container {
    border-bottom-right: 0.5px solid $gray-accent;
    border-bottom-right-radius: 3px;
    border-bottom-left: 0.5px solid $gray-accent;
    border-bottom-left-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
  }
}
