@import "./vars.scss";
.page.editor {
  min-height: 100vh;
  & .docInfo {
    margin-bottom: 3%;
  }
  & .ql-toolbar,
  & .ql-editor {
    background-color: white !important;
  }

  & #quillEditor {
    border-radius: 10px;
  }
}
