@import './vars.scss';
.page.home {
  min-height: 100vh;
  background-color: #fff;
  .video-modal {
    margin-top: 5vh;
  }
  .closeBtn {
    background: none;
    color: white;
    border: none;
    font-size: 2em;
    margin: 2%;
  }
  .blurb {
	  font-size: 1.2rem;
	  font-weight: 400;
  }
  .threeFeatures {
	  h3 {
		  font-weight: bold;
		  color: $gray!important;
		  font-size: 3rem;
	  }
  }
  .sectionHeading {
    font-size: 2rem;
    margin-top: 5%;
    font-weight: 600;
  }
  & .banner-image {
    background-image: url("../assets/homepage-banner.jpg");
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    height: 70vh;
  }
  & .center-box {
    padding-top: calc(35vh - 3.5em - 100px);
    & .button {
      font-size: .9em;
    }
  }
  .quote-testimonial {
    opacity: .7;
    transform: translateX(-.5em);
    transform: translateY(-.5em);
    padding-right: 3px;
  }
  .quote-testimonial-end {
    opacity: .7;
    transform: translateX(-.5em);
    transform: translateY(.5em);
    padding-left: 3px;
  }
  .testamonialContainer {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
    padding: 2%;
  margin: 2%;
  height: 20vh;
	q {
		font-size: 1.5rem;
    font-weight: 500;
	}
	p {
		font-size: 1.3rem;
		color: $warning;
	}
  }
  & h1.big {
    font-size: 3.5em;
  }
  & .container.white {
    background-color: #fff;
  }
  & .underline-warning {
    text-decoration: underline;
    color: #F2BE2E;
    & h1 {
      color: #333;
    }
  }
}
