.page.home {
	min-height: 100vh;
	background-color: #fff;

	& .banner-image {
		background-image: url("../assets/homepage-banner.jpg");
		background-repeat: no-repeat;
		background-position: center, center;
		background-size: cover;
		height: 100vh;
	}

	& .center-box {
		padding-top: calc(50vh - 3.5em - 100px);

		& .button {
			font-size: .9em;
		}
	}

	.quote-testimonial {
		opacity: .7;
		transform: translateX(-.5em);
		transform: translateY(-.5em);

	}
	.quote-testimonial-end {
		opacity: .7;
		transform: translateX(-.5em);
		transform: translateY(.5em);

	}

	& h1.big {
		font-size: 3.5em;
	}

	& .container.white {
		background-color: #fff;
	}

	& .column.center {
		display: flex;
		justify-content: center;
	}

	& .underline-warning {
		text-decoration: underline;
		color: #F2BE2E;

		& h1 {
			color: #333;
		}
	}
}