@use "sass:color";
@import "vars";
@import "editor";
@import "home";
html, body, .page {
  background: $secondary;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}


.page {

}


.nav {
  width: 100%;
  background: $gray;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  @include shadow;
  align-items: center;
}
.brand--wordmark {
  margin-top: -1vh;
  height: 4vh;
}
.brand--icon {
 height: 4vh;
}
.input {
  @include rounding;
  @include transition;
  background: $secondary;
  border: $secondary solid;
  padding: 1rem;
  font-size: 1rem;
  color: $text;

  &:hover {

    background: color.adjust($secondary, $lightness: -5);
  }

  &:focus {

    background: color.adjust($secondary, $lightness: -5);
  }
}



.btn {
  @include rounding();
  @include shadow();
  @include transition;
  border: $primary solid;
  background: $primary;
  padding: 1rem 2rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;

  &:hover {

    background: color.adjust($primary, $lightness: -30);
  }
}
.modal_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999999;
  background: rgba($gray, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  .modal {
    @include rounding;
    @include shadow();
    background: white;
    padding: 1rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    z-index: 99999999999999999;
    h3 {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    a {
      color: $primary;
      text-decoration: underline;
    }
    p {
      margin: 0.5rem 0;
    }
    button {
      box-shadow: none;
      margin-left: auto;
    }
  }
}