@use "sass:color";
@import "vars";
@import "editor";
@import "home";
@import "settings";

html,
body,
.page {
  background: $secondary;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.local {

  display: flex;
  align-items: center;

  i {
    margin: 0.5rem;
    font-size: 2rem;
  }

  .input {
    padding: 0;
  }
}

.page {}

.serverError {
  width: 100vw;
  height: 100vh;
  background: $gray;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  position: fixed;
  z-index: 99999999999999999999;
  color: $text;

  a {
    color: $primary;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 40vh;
      max-height: 300px;
    }

    h1 {
      font-weight: bold;
      font-size: 3rem;
      margin: 1rem;
    }
  }
}

.nav {
  width: 100%;
  background: $gray;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  @include shadow;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    height: 15rem;
  }

  .local {
    margin-right: 2rem;
    color: white;
  }
}

.brand--wordmark {
  margin-top: -1rem;
  height: 2rem;

  @media (max-width: 600px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.brand--icon {
  height: 2rem;
}

.input {
  @include rounding;
  @include transition;
  background: $secondary;
  border: $secondary solid;
  padding: 1rem;
  font-size: 1rem;
  color: $text;

  &:hover {

    background: color.adjust($secondary, $lightness: -5);
  }

  &:focus {

    background: color.adjust($secondary, $lightness: -5);
  }
}



.btn {
  @include rounding();
  @include shadow();
  @include transition;
  border: $primary solid;
  background: $primary;
  padding: 1rem 2rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;

  &:hover {
    border: color.adjust($primary, $lightness: 10) solid;
    background: color.adjust($primary, $lightness: 10);
  }
}
.btn.red {
  background: $warning;
  border: $warning solid;
  box-shadow: none;
  &:hover {
    border: color.adjust($warning, $lightness: 10) solid;
    background: color.adjust($warning, $lightness: 10);
  }
}
.modal_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999999;
  background: rgba($gray, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal--feature {
    @include rounding;
    @include shadow();
    background: white;
    padding: 2rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    z-index: 99999999999999999;

    img {
      width: 60%;
      margin: 0 auto;
    }

    h3 {
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 1rem;
      margin-top: 3rem;
      text-align: center;
    }

    a {
      color: $primary;
      text-decoration: underline;
    }

    p {
      margin: 0.5rem 0;
    }

    button {
      box-shadow: none;
      margin-left: auto;
    }

  }

  .modal {
    @include rounding;
    @include shadow();
    background: white;
    padding: 1rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    z-index: 99999999999999999;

    h3 {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    a {
      color: $primary;
      text-decoration: underline;
    }

    p {
      margin: 0.5rem 0;
    }

    button {
      box-shadow: none;
      margin-left: auto;
    }
  }
}

.loading {
  display: flex;
  flex-direction: column;

  img {
    height: 3vh;
  }
}

.loading--fullscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999999;
  background: $gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  img {

    height: 3vh;
  }

  h1 {
    color: $text;
    font-size: 2rem;
  }

  .support {
    color: $text;
    margin-top: 8rem;

    a {
      color: $primary;
    }
  }
}

.sk-cube-grid {
  width: 8vh;
  height: 8vh;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: $primary;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {

  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {

  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.version {
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.footer {
  max-width: 1300px;
  margin: auto auto 2rem;
  width: 100%;
  background: $gray;
  color: $text;
  padding: 3rem;
  display: flex;
  justify-content: center;
  height: auto;

  .container {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 2rem;
  }

  .brand--row {
    display: flex;
    flex-wrap: wrap;

    p {
      margin-left: 1rem;
    }

    align-items: center;

    .local {
      margin-left: auto;
    }
  }

  a {
    color: $primary;
  }

  .about--row {
    text-align: center;
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 1rem;
    }
  }
}

.container {
  max-width: 1300px;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}