@media print {

  body, .page, #app {
    margin: 0;

    background-color: #fff;
  }
  .nav, nav, #toolbar {
    display: none!important;
  }
  .editor__app {
    width: 100vw!important;
    max-width: 100vw!important;
    min-height: 100vh;
    margin: 0 auto!important;
    top: 0!important;
    padding: 0!important;
  }
  .editor__document, #doc {
    margin: 0!important;
    top: 0!important;
    width: 100vw!important;
    min-height: 100vh!important;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
  }

}