.settingsScreen {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: $primary;
  }
  a.btn {
    color: $text;
    text-decoration: none;
  }
}
.feedBackApp {
  @include rounding;
  @include shadow;
  background: $text;
  padding: 2rem;
  text-align: center;
  width: 100vw;
  height: 80vh;
  max-width: 1200px;
  #typeForm {
    height: 100%;
  }
  margin: 2rem 0;
}
.settingsApp {
  @include rounding;
  @include shadow;
  background: $text;
  padding: 2rem;
  text-align: center;
width: 100vw;
  max-width: 600px;
  .heading {
    font-weight: bold;
    font-size: 2rem;
    margin: 2rem 0;
  }
  .text {
    margin-bottom: 5rem;
  }

  .userRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
    }

    h1 {
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: bold;
    }

    padding-bottom: 2rem;
    border-bottom: $gray solid 2px;
    margin-bottom: 1rem;
  }
  .actions {
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
  .settingsRows {
    margin: 1rem 0;
    min-height: 20vw;
  }
  .settingsItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
}