$gray-accent: #f9f9f9;
$gray: #292929;
$primary: #2cceea;
$primary-accent: #17c0eb;
$blue: #f2be2e;
$blue-accent: #dfaf2b;
$warning: #f2be2e;
$warning-accent: #dfaf2b;
$issue: #e55b5b;
$issue-accent: #dd4646;
